alembic==1.0.11
APScheduler==3.6.1
awesome-slugify==1.6.5
Babel==2.7.0
bleach==3.1.0
blinker==1.4
coverage==4.5.4
decorator==4.4.0
defusedxml==0.6.0
Flask-Babel==0.12.2
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.1
CherryPy<18.0.0  # pyup: <18.0.0
Flask-Login==0.4.1
Flask-Mail
Flask-Migrate
Flask-assets
Flask-Markdown
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask
flipflop
natsort
guess-language-spirit
guess-language
html5lib
colorama
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
pbr
pstat
psutil
psycopg2
pyparsing
python-datauri
python-bcrypt
python-dateutil
python-levenshtein
pytz
beautifulsoup4
lxml
six
speaklater
SQLAlchemy
sqlalchemy-citext
sqlalchemy-migrate
SQLAlchemy-Searchable
SQLAlchemy-Utils
sqlparse
Tempita
validators
Werkzeug
WTForms-JSON
WTForms
webcolors
WebRequest