
{% macro render_page_contents(pagination, access_key) %}
	{% if pagination.items %}
		<table class='table-striped table table-bordered table-condensed fullwidth'>
			{%- for page in pagination.items %}
				<tr>
					<td>
						<div class='pull-right'>
							By <a href='/author-id/{{page.author[0].id}}/'>{{page.author[0].name}}</a>
						</div>
						<div class='pull-left'>
							<a href='/story-review/{{page.id}}/'>View or add reviews!</a>
						</div>
						<center>
							<strong><a href="/get-story/{{page.id}}/">{{ page[access_key] }}</a></strong>
						</center>
							<div class='well well-sm' style='margin:10px'>
								{{page.description | safe}}
							</div>
						<div class='clearfix'></div>
						<div class='pull-right'>
							Tags:
							{% for tag in page.tags %}
								<span><a href="/tag-id/{{tag.id}}/">{{tag.tag.split("-")[-1]}}</a></span>
							{% endfor %}

						</div>

						<div class='pull-left'>
							Downloads: {{page.downloads}}
						</div>
						<div class='text-center'>{{ page.pub_date | format_date }} - {{ page.pub_date | terse_ago }} ago</div>
					</td>

				</tr>
			{%- endfor %}
		</table>
	{% else %}
		No items!
	{% endif %}

{% endmacro %}
