
<div class="well well-sm">
	<div class='nav-item'><a href='/recent/'>Recent</a></div>
	<hr>
	<div class='nav-item'><a href='/stories/'>Stories</a></div>
	<div class='nav-item'><a href='/authors/'>Authors</a></div>
	<div class='nav-item'><a href='/tags/'>Tags</a></div>
	<div class='nav-item'><a href='/date/'>Date</a></div>
	<hr>
	<div class='nav-item'><a href='/add/story/'>Add a Story</a></div>
	<hr>
	<div class='nav-item'><a href='/most-rated/'>Most Rated</a></div>
	<div class='nav-item'><a href='/highest-rated/'>Highest Rated</a></div>
	<hr>
	<div class='nav-item'><a href='http://www.reddit.com/r/overflowingbra'>Forum</a></div>
	{% if current_user.is_authenticated() %}
		{% if current_user.is_admin() %}
			<hr>
			{% include 'admin/admin-nav-block.html' %}
		{% endif %}
	{% endif %}

</div>