
{% macro render_page_contents(pagination, access_key) %}
	{% if pagination.items %}
		<table class='table-striped table table-bordered table-condensed fullwidth'>
			{%- for page in pagination.items %}
				<tr>
					<td>
						<div class="row">
							<div class='col-md-3'>
								<a href='/story-review/{{page.id}}/'>View or add reviews!</a>
							</div>
							<div class='col-md-6 text_center_wide'>
								<strong><a href="/get-story/{{page.id}}/">{{ page[access_key] }}</a></strong>
							</div>
							<div class='col-md-3 text_right_wide'>
								By <a href='/author-id/{{page.author[0].id}}/'>{{page.author[0].name}}</a>
							</div>

						</div>
						<div class='well well-sm' style='margin:10px'>
							{{page.description | safe}}
						</div>
						<div class='clearfix'></div>

						<div class="row">
							<div class='col-md-2'>
								Downloads: {{page.downloads}}
							</div>
							<div class='col-md-3'>{{ page.pub_date | format_date }} - {{ page.pub_date | terse_ago }} ago</div>

							<div class='col-md-7 text_right_wide'>
								Tags:
								{% for tag in page.tags %}
									<span><a href="/tag-id/{{tag.id}}/">{{tag.tag.split("-")[-1]}}</a></span>
								{% endfor %}

							</div>
						</div>

					</td>

				</tr>
			{%- endfor %}
		</table>
	{% else %}
		No items!
	{% endif %}

{% endmacro %}
