<!-- extend base layout -->
{% extends "__base.html" %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="well well-large" style="min-height: 140px;">
		<h2>Add a new {{add_name | title}}:</h2>

		<form method="POST" action="{{request.path}}"  class="form-group">
			<div class="well well-xs" >
				<div class="row storydiv">
					<div class="form-group">
						<span class='notetext pull-right'>Min 3 chars, Max 80 chars</span>
						<label for="title">Title</label>
						<input id="story-title" name="title" size="60" maxlength="80" class="form-control" type="text" value="">


					</div>
					<div class="form-group">
						<span class='notetext pull-right'>Min 5 chars, Max 60 chars</span>
						<label for="author">Author</label>
						<input id="story-author" name="author" size="60" maxlength="60" class="form-control" type="text" value="">


					</div>
					<div class="form-group">
						<span class='notetext pull-right'>Min 30 chars, Max 500 chars. No HTML allowed. Text will be processed with <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/">markdown</a>.</span>
						<label for="description">Story Description</label>
						<textarea id="story-description" name="description" class="form-control" rows="7" size="60" maxlength="500"></textarea>

					</div>
					<div class="form-group">
						<label for='story-file'>Story File</label>
						<input type="file" name="story-file" id="story-file-id" onchange="fileAdd(this.files);" />
					</div>
					<div class="form-group">
						<label >Story tags:</label>
						<div>
							{% for tag_category, tag_tuple_list in get_tag_list() %}

								<div class='col-md-6'>
									<strong>{{tag_category}}</strong>
									<ul>
										{% for tag_name, tag_value, tag_text in tag_tuple_list %}
											<li><input class='story-tag' type="checkbox" name="{{tag_name}}" value="{{tag_value}}">{{tag_text}}</li>
										{% endfor %}
									</ul>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
			<button type="button" onclick="add_story()" class="pull-right add-story-button" style='width:160px'>Add Story</button>
			<div class='clearfix'></div>
		</form>
	</div>

{% endblock %}




{% block footer %}


	<script src="/static/js/editable.js"></script>
	<script src="/static/js/autogrow.js"></script>
	<script src="/static/js/bootstrap-number-input.js"></script>

	<script>


		var csrftoken = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				console.log("Ajax setup!", csrftoken);
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken)
				}
			}
		})

		var fileData = '';
		var fileName = '';
		var fileDataValid = false;
		var reader = new FileReader();

		reader.onloadend = function(evt) {
			// file is loaded
			fileData = evt.target.result;
			fileDataValid = true;
		};

		function fileAdd(files)
		{
			fileName = files[0].name;
			reader.readAsDataURL(files[0]);
		}


		function content_load_cb(data, textStatus, jqXHR)
		{
			console.log("Response: ", data)
			if (data['error'] == false)
				window.location = '/';
			else
				alert("Error when adding story!\nError: " + data['message']);
		};

		function content_load_fail(jqXHR, textStatus, errorThrown)
		{
			alert("Error when uploading file!\nError: " + errorThrown + "\nStatus text: " + textStatus);
		}



		function add_story()
		{
			console.log("Saving changes!");
			console.log("Oh HAI!");

			var storyTitle = $("#story-title")
			var storyAuthor = $("#story-author")
			var storyDesc = $("#story-description")

			var tags = [];
			var boxes = $(".story-tag")
			console.log(boxes)
			boxes.each(function(idx){
				var tag = [$( this ).attr("name"), $( this ).attr("value")];
				if ($(this).is(':checked'))
					tags.push(tag);

			})

			console.log(tags)

			if (storyTitle.val().length == 0)
			{
				alert("You have to provide a story title!");
				return;
			}
			if (storyDesc.val().length == 0)
			{
				alert("You have to provide a story description!");
				return;
			}
			if (!fileDataValid)
			{
				alert("You have to provide a story file!")
				return;
			}

			var change = {
				"type"  : "new-story",
				"name"  : storyTitle.val(),
				"auth"  : storyAuthor.val(),
				"desc"  : storyDesc.val(),
				"fname" : fileName,
				"file"  : fileData,
				"tags"  : tags
			}


			console.log("Changes are valid. Sending new data.");

			// $(".add-story-button").each(function(){$(this).prop('disabled', true).text("Working...")});

			var params = {
				"mode"      : 'add-story',
				"story"   : change,
			}


			$.ajax({
				url         : "/api",
				success     : content_load_cb,
				error       : content_load_fail,
				data        : JSON.stringify(params),
				method      : "POST",
				dataType    : 'json',
				contentType : "application/json;",
			});

		}

		$('textarea').autogrow({onInitialize:true});
	</script>

{% endblock %}
