<!-- extend base layout -->
{% extends "__base.html" %}
{% import '_block_stories.html' as story_block %}

{% block content %}
	{% include '_block_flash.html' %}
	<div class="">
		<h3>News</h3>
		{% include '_block_news.html' %}
		<a href='/news/'>Older news</a>
	</div>

	<hr class='padded-rule'>
	<div>
		<h3>Latest Stories</h3>
		{{ story_block.render_page_contents(recent_stories, name_key) }}
		<a href='/stories/'>More Stories</a>
	</div>

	<hr class='padded-rule'>

	{% set show_group = False %}
	<div>
		<h4>A few random series</h4>
		{{ story_block.render_page_contents(random_stories, name_key) }}
	</div>

	<hr class='padded-rule'>
{% endblock %}


{% block footer %}
	{% if g.user.is_mod() %}
		{% include '_block_admin_scripts.html' %}
	{% endif %}
{% endblock %}

