<!-- extend base layout -->

{% extends "__base.html" %}
{% import "_block_paginate.html" as paginator %}

{% macro render_page_contents(pagination, access_key) %}

	<table class='table-striped table table-bordered table-condensed fullwidth'>
		{%- for page in pagination.items %}
			<tr>
				<td>
					<a href="/series-id/{{page.id}}/">{{ page[access_key] }}</a>
					<div class='pull-right'>
						By <a href='/author-id/{{page.author[0].id}}/'>{{page.author[0].name}}</a>
					</div>
					<div>
						{{page.description | safe}}
					</div>
					<div class='pull-right'>
						{% for tag in page.tags %}
							<span><a href="/tag-id/{{tag.id}}/">{{tag.tag.split("-")[-1]}}</a></span>
						{% endfor %}

					</div>
				</td>

			</tr>
		{%- endfor %}
	</table>

{% endmacro %}


{% macro render_alphanum_div(prefix) %}
	<div class='pull-right'>
		Prefix:
		{%- for letter in '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
			<a href="/{{prefix}}/{{letter}}/1">{{ letter | upper }}</a>
		{%- endfor %}
	</div>
{% endmacro %}



{% block content %}
	{% include '_block_flash.html' %}
	<div  style="min-height: 140px;">
		<div>
			<div class='pull-right'>
				<h4><a href='/add/story/'>Add a Story</a></h4>
			</div>

			{% if letter != None%}
				<div>
					<h2 style='display: inline-block;'>{{title_prefix}}Book Titles</h2>
					<h4 style='display: inline-block;'> - Starting with "{{letter | upper}}"</h4>
				</div>
			{% else %}
				<h2>{{title_prefix}}Story Titles</h2>
			{% endif %}

			{{ render_alphanum_div(path_name) }}

		</div>

		{% if sequence_item.items %}

			<div>
				{{ render_page_contents(sequence_item, name_key) }}
			</div>
			{{ paginator.render_pagination(sequence_item) }}
		{% else %}
			<h4>No items found!</h4>
		{% endif %}



	</div>

	</ul>
{% endblock %}
