<!-- extend base layout -->

{% extends "__base.html" %}
{% import "_block_paginate.html" as paginator %}
{% import '_block_stories.html' as story_block %}
{% import "_sequence_tools.html" as sequence %}



{% block content %}
	{% include '_block_flash.html' %}
	<div  style="min-height: 140px;">
		<div>
			<div class='pull-right'>
				<h4><a href='/add/story/'>Add a Story</a></h4>
			</div>

			{% if letter != None%}
				<div>
					{% if major_title != None %}
						<h2 style='display: inline-block;'>{{major_title}}</h2>
					{% else %}
						<h2 style='display: inline-block;'>{{title_prefix}}Book Titles</h2>
					{% endif %}
					<h4 style='display: inline-block;'> - Starting with "{{letter | upper}}"</h4>
				</div>
			{% elif major_title != None %}
					<h2>{{major_title}}</h2>
			{% else %}
				<h2>{{title_prefix}}Story Titles</h2>
			{% endif %}

			What does this tag mean: {{ get_tag_definition(tag.tag) }}

		</div>

		{% if sequence_item.items %}

			<div>
				{{ story_block.render_page_contents(sequence_item, name_key) }}
			</div>
			{{ paginator.render_pagination(sequence_item) }}
		{% else %}
			<h4>No items found!</h4>
		{% endif %}



	</div>

	</ul>
{% endblock %}
